body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
header {
    background-color: darkgray;
    text-align: right;
}
img {
    width: 15%;
    height: auto;
}
li {
    list-style: none;
}
form {
    background-color: #ffffff;
    margin-top: -5%;
    border: 1px solid;
    border-radius: 5%;
    text-align: justify;
    min-width: 50%;
    max-width: 75%;
    width: auto;
}
input {
    background-color: inherit;
    color: inherit;
}
section {
    padding-bottom: 10px;
    text-align: center;
    width: auto;
    overflow: auto;
}
label {
    font-weight: bold;
}
table {
    width: 100%;
}
th {
    border-bottom: 1px solid;
    border-color: inherit;
}
td {
    text-align: center;
}
td:nth-child(3) {
    text-align: left;
}
.button {
    border-radius: 5%;
    background-color: grey;
    color: white;
    font-size: 24px;
    width: 100%;
}
#go {
    width: 75%;
}
#totals {
    text-align: left;
}
#warning {
    background-color: #FF0000;
    color: #FFFFFF;
    font-size: 1.5em;
}
#ph {
    background-color: darkblue;
    color: #FFFFFF;
    font-size: 1.5em;
}
#screenReaderMessage {
    color: transparent;
    font-size: xx-small;
}
.hide {
    display: none;
}